body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(94,147,147);
    background: radial-gradient(circle, rgba(94,147,147,0.815091002221201) 2%, rgba(252,169,169,1) 100%);
}


div {
    margin: 20px auto;
    max-width: 800px; 
    padding: 0 20px;
}

div ul {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}



ul li a {
    text-decoration: none;
    color: rgb(51, 93, 130);
    font-weight: bold;
    
    border-radius: 2rem;
    padding: .5rem 1rem;

    transition: .2s ease-in;
    border-bottom: 2px solid var(--blue);

    overflow: hidden;
    position: relative;
}

ul li a:hover {
    color: rgb(172, 111, 111);
    background-color: rgb(255, 251, 251);
}

a {
    text-decoration: none;
    color: #333;
}


h1 {
    font-size: 36px;
    margin: 20px 0;
    color: rgb(51, 93, 130);
}

p {
    margin-bottom: 20px;
    color: #666;
    line-height: 1.6;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ddd;

}

.justify-text {
    text-align: justify;
}

footer{
    text-align: center;
}