body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(94,147,147);
    background: radial-gradient(circle, rgba(94,147,147,0.815091002221201) 2%, rgba(252,169,169,1) 100%);
}


h1 {
    text-align: center; 
    font-size: 36px; 
    margin-top: 20px; /
    color: #333; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    padding: 10px 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

ul li a:hover {
    color: #666;
}

table {
    margin: 0 auto;
}

table img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    transition: transform 0.3s ease;
}

table img:hover {
    transform: scale(1.05);
}
