body {
    font-family:'Times New Roman', Times, serif
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, lightblue, rgba(252,169,169,1));
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul li {
    display: inline;
    margin-right: 20px;
}


ul li a {
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-weight: bold;
    
    border-radius: 2rem;
    padding: .5rem 1rem;

    transition: .2s ease-in;
    border-bottom: 2px solid var(--blue);

    overflow: hidden;
    position: relative;
}


ul li a:hover {
    color: rgb(172, 111, 111);
    background-color: rgb(255, 251, 251);
}

p {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

p a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

p a:hover {
    color:  #ccc; 
}

footer {
    text-align: center;
    color: #fff;
    padding: 20px;
}