body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, lightblue, rgba(252,169,169,1));
}

header{
    padding: 10px 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(53, 46, 161, 0.1); 
    transition: all 0.3s ease;
}

header nav{
    height: 15vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 40px;
    color: rgb(51, 93, 130);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header ul {
    gap: 3rem;
    display: flex;
    list-style: none;
}

.blog{
    font-size: 1.8rem;
    color: rgb(51, 93, 130);
    justify-content: center;
    align-items: center; 
    min-height: 10vh;
    width: 10%;
    margin: 1rem auto;
    padding: .5rem 1rem;
}

nav ul li a {
    color:rgb(51, 93, 130);
    text-decoration: none;
    transition: color 0.3s ease;
    align-items: right;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

div {
    margin: 20px auto;
    max-width: 800px; 
    padding: 0 20px;
}

div ul {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}



ul li a {
    text-decoration: none;
    color: rgb(51, 93, 130);
    font-weight: bold;
    
    border-radius: 2rem;
    padding: .5rem 1rem;

    transition: .2s ease-in;
    border-bottom: 2px solid var(--blue);

    overflow: hidden;
    position: relative;
}

ul li a:hover {
    color: rgb(172, 111, 111);
    background-color: rgb(255, 251, 251);
}

a {
    text-decoration: none;
    color: #333;
}


h1 {
    font-size: 36px;
    margin: 20px 0;
    color: rgb(51, 93, 130);
}

p {
    margin-bottom: 20px;
    color: rgb(68, 64, 64);
    line-height: 1.6;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ddd;

}

.judul {
    text-align: justify;
    font-size:200%
}

.paragraph {
    text-align: justify;
}

.hyperlink {
    color: rgb(51, 93, 130);
}

.hyperlink:hover {
    color: rgb(172, 111, 111);
    text-decoration: none;
}


.moving-text {
    display: inline-block;
    color: rgb(51, 93, 130);
}

.animate-text {
    animation: moveText 1s infinite;
}

@keyframes moveText {
    0% { transform: translateX(0); }
    50% { transform: translateX(20px); }
    100% { transform: translateX(0); }
}

footer{
    text-align: center;
    color: rgb(51, 93, 130);
}